.pri{animation-delay:.2s}
.seg{animation-delay:.6s}
.ter{animation-delay:1s}
.cua{animation-delay:1.2s}
.qui{animation-delay:1.6s}
.sex{animation-delay:2s}
.sep{animation-delay:2.4s}
html{height:100%}
body{overflow:scroll;padding-right:0!important;font-family:'Mukta Mahee',sans-serif;font-weight:300;font-size:16px;color:#737373;height:100%}
header{margin-bottom:3em}
nav{text-transform:uppercase}
button:focus{outline:0!important}
li{list-style-type:square!important}
a:focus{outline:0}
.strong{font-weight:700;font-size:1.2em}
article{padding-top:3.5em;padding-bottom:2.5em}
article .titulo{text-transform:uppercase;font-weight:300;font-size:2em;line-height:.9em}
article .subtitulo{margin:0;font-size:1.2em;font-weight:400;line-height:1.4em}
article hr{height:3px;width:100px;background-color:#bc0c24;border:0}
article .linea{margin:0;margin-top:10px!important;margin-bottom:10px!important;height:3px;width:60px;background-color:#000;border:0;text-align:left!important}
p{margin-top:0;margin-bottom:1rem}
a{color:#bc0c24;transition:.4s all}
a:hover{color:#6d000f}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background:#000;z-index:1000000000000000}
#loader{width:200px;height:100px;position:absolute;left:50%;top:50%;background:url(../images/loader.png) center 0 no-repeat;margin:-50px 0 0 -100px}
.container{max-width:1140px;width:100%}
.image-responsive{width:100%}
.sinpa{padding-left:0;padding-right:0}
.navbar{background-color:#000;transition:.4s all;width:96%;margin:30px auto auto;max-width:1540px}
.navbar .container-menu{width:96%!important;margin:0 auto}
.navbar .navbar-brand{padding-top:10px;padding-bottom:10px}
.navbar .navbar-brand .imagen-logotipo{width:180px;transition:.4s all}
.navbar .navbar-nav{padding:10px 0}
.navbar .navbar-nav li a{font-weight:700;font-size:1em;letter-spacing:.6px;padding:18px 30px;border-right:1px solid transparent;border-left:1px solid #383838}
.navbar .navbar-nav .boton-cotizar{background-color:#6d000f}
.navbar .navbar-nav .boton-cotizar a{color:#efefef!important;padding-right:30px;border-left:0 solid #6d000f}
.menu-fixed .navbar{width:100%;max-width:100%;margin:0 auto}
.menu-fixed .navbar .navbar-brand{padding-top:6px;padding-bottom:6px}
.menu-fixed .navbar .navbar-brand .imagen-logotipo{width:145px}
.menu-fixed .navbar .navbar-nav{padding:10px 0}
.menu-fixed .navbar .navbar-nav li a{font-size:1em;letter-spacing:.6px;padding-top:10px;padding-bottom:10px;padding-left:30px;border-left:1px solid #383838}
.btn{transition:.3s all;text-transform:uppercase;padding:10px 30px;border-radius:3px}
.btn-pri{background-color:#000;border:1px solid #000;color:#fff}
.btn-pri:active,.btn-pri:focus,.btn-pri:hover{background-color:#6d000f;border:1px solid #6d000f;color:#fff}
.btn-seg{background-color:#fff;border:1px solid #bc0c24;color:#bc0c24}
.btn-seg:active,.btn-seg:focus,.btn-seg:hover{background-color:#bc0c24;border:1px solid #bc0c24;color:#fff}
.btn-ter{background-color:#5A5A5A;border:1px solid #5A5A5A;color:#fff}
.btn-ter:active,.btn-ter:focus,.btn-ter:hover{background-color:#bc0c24;border:1px solid #bc0c24;color:#fff}
.btn-cua{background-color:#fff;border:1px solid #313131;color:#313131}
.btn-cua:active,.btn-cua:focus,.btn-cua:hover{background-color:#313131;border:1px solid #313131;color:#fff}
.btn-360,.btn-360:active,.btn-360:focus,.btn-360:hover{background-image:url(../images/boton-360.png);background-color:#fff!important;padding:20px 40px;background-position:100%;font-weight:700;text-shadow:0 0 10px #000}
.btn-small{font-size:14px!important;padding:4px 12px!important}
.btn-cerrar-a,.btn-cerrar-b,.btn-cerrar-c,.btn-cerrar-d,.btn-cerrar-d2,.btn-cerrar-e{font-size:20px;color:#fff;padding:10px 20px}
.btn-cerrar-a:hover,.btn-cerrar-b:hover,.btn-cerrar-c:hover,.btn-cerrar-d2:hover,.btn-cerrar-d:hover,.btn-cerrar-e:hover{text-decoration:none}
.carousel-caption{right:10%;left:10%;width:80%;padding-bottom:30px}
.carousel-caption .info-carrusel{background-color:rgba(0,0,0,.8);width:35%;float:right;text-align:left;padding:20px;margin-bottom:20px}
.carousel-caption hr{height:4px;width:100px;background-color:#bc0c24;margin:10px 0;border:0;border-top:1px solid rgba(0,0,0,.1)}
.carousel-caption .parrafo{font-size:1.1em}
.carousel{height:93%}
.active,.carousel-inner,.item{height:100%}
.fill{width:100%;height:100%;background-position:center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover}
.carousel-indicators{bottom:-43px}
.carousel-indicators li{margin:0 10px;background-color:#737373;width:10px;height:10px}
.carousel-indicators .active{margin:0 10px;background-color:#bc0c24;width:10px;height:10px}
.escribenos {margin-top: -401px; background:rgba(0,0,0,.8);padding:30px 20px;border-radius:3px;}
.depto{background-color:#FBFBFB;border:1px solid #ccc;border-radius:0;margin-bottom:30px}
.depto .estado-proyecto{position:relative;left:10px;top:10px;display:inline-block;background-color:green;color:#fff;padding:4px 10px;border-radius:4px;z-index:2;font-size:12px;text-transform:uppercase;letter-spacing:1px}
.box-depto{padding:10px 20px}
.box-depto .titulo-depto .titulo{font-size:1.2em;font-weight:400;padding:0;margin:0}
.box-depto .titulo-depto .hr-title{height:2px;width:100px;background-color:#000;margin:10px 0}
.box-depto .data-depto{margin:4px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.box-depto .data-depto img{max-width:50px}
.box-depto .data-depto span{color:#ccc}
.box-depto .data-depto .icono-depto,.box-depto .data-depto .linea-depto{height:40px}
.box-depto .info-box{margin:10px 0}
.box-depto .info-box ul{padding-left:20px}
.box-depto .info-box ul li{margin-top:4px;font-size:.9em}
.box-depto .info-box p{font-size:.8em}
.box-depto .btn-depto{border-top:1px solid #ccc;margin:10px 0 0;padding-top:10px}
.box-depto .btn-depto p{margin-top:10px;font-size:26px;font-weight:300}
.box-depto .btn-depto span{font-size:13px}
.grid{position:relative;margin:0 auto;list-style:none;text-align:center;display:inline-block}
.grid figure{position:relative;float:left;overflow:hidden;width:100%;text-align:center;cursor:auto}
.grid figure img{position:relative;display:block;max-width:100%;opacity:1}
.grid figure figcaption{color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.grid figure figcaption::after,.grid figure figcaption::before{pointer-events:none}
.grid figure figcaption,.grid figure figcaption>a{position:absolute;top:0;left:0;width:100%;height:100%}
.grid figure figcaption>a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:1}
.grid figure h2{word-spacing:-.15em;font-weight:300}
.grid figure h2 span{font-weight:800}
.grid figure h2,.grid figure p{margin:0}
.grid figure p{letter-spacing:1px;font-size:68.5%}
figure.effect-chico img{-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:scale(1.05);transform:scale(1.05)}
figure.effect-chico:hover img{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
figure.effect-chico figcaption{padding:3em}
figure.effect-chico figcaption::before{position:absolute;top:30px;right:30px;bottom:30px;left:30px;content:'';-webkit-transform:scale(1.1);transform:scale(1.1)}
figure.effect-chico figcaption::before,figure.effect-chico p{opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s}
figure.effect-chico h2{padding:20% 0 20px}
figure.effect-chico p{margin:0 auto;max-width:200px;-webkit-transform:scale(1.5);transform:scale(1.5)}
figure.effect-chico:hover figcaption::before,figure.effect-chico:hover p{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
@media screen and (max-width:50em){.content{padding:0 10px;text-align:center}
.grid figure{display:inline-block;float:none;margin:10px auto;width:100%}
}
.proyecto .info .icono{height:20px;margin:0 10px 0 0}
.proyecto .info-destacada{margin-top:5px;display:inline-block;padding:10px 20px;color:#fff;background-color:#bc0c24}
.proyecto .info-destacada .icono{margin-left:6px;margin-right:6px}
.proyecto .info-destacada p{font-size:.8em;margin-top:0;margin-bottom:0}
.proyecto .box-boton{margin-top:8px}
.panel-heading{padding:0}
.with-nav-tabs{border-radius:0}
.with-nav-tabs .nav-tabs{border-bottom:0;margin:0 auto;width:100%;max-width:600px}
.with-nav-tabs .nav-tabs li{width:25%;text-align:center;border:0!important}
.with-nav-tabs .nav-tabs li a{text-transform:uppercase;color:#737373;font-size:.9em;border-radius:0;border:0 solid olive!important}
.with-nav-tabs .nav-tabs li:focus{border:0 solid olive!important}
.with-nav-tabs .nav-tabs>li.active>a{background-color:#bc0c24;color:#fff}
.with-nav-tabs .nav-tabs>li.active>a,.with-nav-tabs .nav-tabs>li.active>a:focus,.with-nav-tabs .nav-tabs>li.active>a:hover{border:0 solid transparent!important}
.departamento{background-color:#F6F6F6}
.departamento .lista-deptos{margin-bottom:2em}
.departamento .lista-deptos .lista-departamentos{margin-bottom:0;padding-bottom:0}
.galeria{background-color:#F6F6F6;overflow:hidden}
.galeria .well{min-height:20px;padding:0;margin-bottom:0;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}
.galeria .well div{padding-right:0;padding-left:0}
.galeria .panel{border:0;margin-bottom:0;background-color:transparent}
.galeria .panel-body{padding:0!important}
.galeria .panel-body .carousel-indicators{bottom:-43px}
.galeria .panel-body .carousel-indicators li{margin:0 10px;background-color:#737373}
.galeria .panel-body .carousel-indicators .active{background-color:#bc0c24;width:10px;height:10px}
.galeria .info-item-galery{font-size:.9em;position:absolute!important;background-color:#000!important;bottom:0;padding:10px 20px;color:#fff}
.galeria #slider{background-image:url(../images/frase/back-01.jpg);background-color:#424242}
.galeria .carousel-control .glyphicon-chevron-left,.galeria .carousel-control .icon-prev{left:0}
.galeria .carousel-control .glyphicon-chevron-right,.galeria .carousel-control .icon-prev{right:0}
.galeria .btn-carousel-galeria{opacity:1;background-color:#bc0c24;padding:10px;font-size:10px;width:30px;height:30px}
.emplazamiento .lista{line-height:30px;padding-left:20px}
.emplazamiento .lista-num-dot{margin-top:2em}
.emplazamiento .lista-num-dot p{margin-right:20px;display:inline-block}
.emplazamiento .lista-num-dot p .dotnum{background-color:#bc0c24;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;color:#fff;display:inline-block;font-weight:700;line-height:1.4em;margin-right:15px;text-align:center;width:1.4em}
.emplazamiento .container-image{margin:0 auto;width:100%;max-width:730px;height:400px;position:relative;background-image:url(../images/emplazamiento/img-emplazamiento.png);background-size:cover;background-repeat:no-repeat;background-position:center;background-color:red}
.emplazamiento .hot-spot{text-align:center;color:#fff!important;width:20px;height:20px;background-color:#bc0c24;border-radius:50%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:1;opacity:1}
.emplazamiento .hot-spot:after{text-align:center;content:"";color:#fff!important;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);border:2px solid #bc0c24;width:20px;height:20px;border-radius:50%;opacity:0;-webkit-transition:.2s all;transition:.2s all}
.emplazamiento .hot-spot:hover{cursor:pointer;opacity:1}
.emplazamiento .hot-spot:hover:after{width:25px;height:25px;opacity:1}
.emplazamiento .hot-spot-1{top:259px;left:124px}
.emplazamiento .hot-spot-2{top:271px;left:169px}
.emplazamiento .hot-spot-3{top:159px;left:183px}
.emplazamiento .hot-spot-4{top:195px;left:611px}
.emplazamiento .hot-spot-5{top:156px;left:611px}
.emplazamiento .hot-spot-6{top:150px;left:500px}
.emplazamiento .hot-spot-7{top:167px;left:392px}
.emplazamiento .hot-spot-8{top:131px;left:305px}
.emplazamiento .hot-spot-9{top:293px;left:384px}
.emplazamiento .hot-spot-9b{top:286px;left:545px}
.emplazamiento .hot-spot-10{top:332px;left:451px}
.frase{background-image:url(../images/frase/back-frase.jpg);background-repeat:no-repeat;background-size:cover}
.frase .titulo-icono{margin:30px 0;color:#fff}
.frase .subtitulo{font-weight:300;margin-bottom:20px}
.frase .icon-emplazamiento{width:80px;height:auto;margin-bottom:20px;transition:.4s all;background-color:#bc0c24;border-radius:50%;border:0 solid #bc0c24}
.frase .icon-emplazamiento:hover{background-color:#bc0c24;border:10px solid #bc0c24;border-radius:50%}
.frase p{color:#fff}
.ubicacion{background-color:#F6F6F6;overflow:hidden;padding-bottom:0!important}
.ubicacion .mapa-proyecto #map{width:100%;height:400px!important}
.ubicacion .botonera-maps{position:relative;top:-30px}
.promociones{background-image:url(../images/frase/bg-inversion.jpg);background-color:#424242;background-size: cover;padding:6em 0;}
.promociones .home-demo .item{padding:20px;text-align:center}
.promociones .home-demo .item img{width:60%}
.promociones .home-demo .item .item-contenedor{margin-top:10px}
.promociones .home-demo .item .item-contenedor .linea{margin:0 auto;color:#fff;height:5px;background-color: #fff;border-color:#fff;}
.promociones .home-demo .item .item-titulo{font-size:1.3em;color: #fff;text-transform: uppercase;font-weight: bold;line-height: 1}
.promociones .home-demo .item .item-parrafo{font-size:1em;color: #fff;}
.rrss{display:none}
.rrss .rrss-icon{max-width:50px;margin:0 20px}
footer{margin:0;background-color:#F1F1F1!important;padding:40px 0}
footer .mirador-image-rds{max-width:230px;width:100%}
footer .ingevec-image-rds{max-width:200px;width:100%}
footer .cbs-image-rds{max-width:180px;width:100%}
footer .icon-venta img{width:18px;height:auto;opacity:.8}
footer .icon-venta .horario{margin-top:18px;background-color:#bc0c24;padding:8px 20px}
footer .icon-venta .horario a{color:#fff}
footer .icon-venta a{color:#737373}
footer .data-info{font-size:.7em}
.modal-open{padding-right:0!important}
/*.modal{overflow-y:display!important}*/
.modal-dialog{width:100%;max-width:900px}
.modal-dialog .modal-header{background-color:#000;color:#FFF}
.modal-dialog .modal-header .subtitulo{font-size:20px}
.modal-dialog .modal-header hr{height:2px;width:100px;background-color:#FFF;margin:10px 0}
.modal-dialog .modal-header .logotipo-modal{height:50px}
.modal-dialog .modal-header .close{font-family:'Mukta Mahee',sans-serif;font-weight:300;position:relative;color:#fff;line-height:0!important;font-size:4em;opacity:.7;float:right;margin-top:0;padding:28px 0 0}
.modal-dialog .modal-body{border:1px solid #ccc}
.modal-dialog .modal-body .imagen-planta{background-color:#fff;height:auto;border-radius:0!important}
.modal-dialog .modal-body .imagen-planta .botonera-planta{border-top:1px solid #ccc;padding:10px}
.modal-dialog .modal-body .imagen-planta .botonera-planta .icon-btn-deptos{height:16px;margin:0 6px 0 0}
.modal-dialog .modal-body .imagen-planta .botonera-planta .formulario-deptos{font-size:.9em}
.modal-dialog .modal-body .imagen-planta .botonera-planta .formulario-deptos p{margin-bottom:0}
.modal-dialog .modal-body .imagen-planta .botonera-planta .formulario-deptos .separacion{margin-top:20px}
.modal-dialog .modal-body .imagen-planta .botonera-planta .formulario-deptos .info{font-size:12px}
.modal-dialog .modal-body .form-depto{height:80%;width:0;padding-right:16px;position:fixed;z-index:1;top:98px;right:2px;background-color:#fff;overflow-x:hidden;transition:0s;padding-top:0}
.modal-dialog .modal-body .form-depto a{padding:8px 8px 8px 32px;text-decoration:none;font-size:25px;color:#fff;display:block}
.modal-dialog .modal-body .form-depto .closebtn{position:absolute;top:20px;right:25px;font-size:36px;margin-left:50px}
.modal-dialog .modal-body #planta-depto{transition:margin-left 0s}
.modal-dialog .modal-body .data-depto{font-size:.9em;margin:4px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.modal-dialog .modal-body .data-depto img{max-width:50px}
.modal-dialog .modal-body .data-depto span{color:#ccc}
.modal-dialog .modal-body .data-depto .icono-depto,.modal-dialog .modal-body .data-depto .linea-depto{height:40px}
.modal-dialog .modal-body .info-box{margin:10px 0}
.modal-dialog .modal-body .info-box ul{padding-left:20px}
.modal-dialog .modal-body .info-box ul li{margin-top:4px;font-size:.8em}
.modal-dialog .modal-body .info-box ul .image-esquicio{max-width:220px;margin:0}
.modal-dialog .modal-body .info-box p{font-size:.8em}
.modal-dialog .modal-body .info-box .table-data-deptos{display:none;margin:20px 0;width:100%;font-size:.9em;text-transform:uppercase}
.modal-dialog .modal-body .info-box .table-data-deptos tr hr{margin:0;padding:0}
.modal-dialog .modal-body .info-box .box-title .titulo{text-transform:uppercase;font-size:.8em;font-weight:400;padding:0;margin:0}
.modal-dialog .modal-body .info-box .box-title .linea{margin:0;margin-top:10px!important;margin-bottom:10px!important;height:3px;width:60px;background-color:#000;border:0;text-align:left!important}
.info-deptos .box{border:1px solid #ccc}
.info-deptos .box .botonera-planta{border-top:1px solid #ccc;padding:10px 10px 20px}
.info-deptos .box .legal{text-align:justify;padding:10px 10px 2px;margin-top:20px;font-size:.6em}
.info-deptos .planta-iframe{width:63%;position:fixed;top:97px;display:none;z-index:2;background:#fff;margin-right:16px}
.info-deptos .planta-iframe .top-depto{padding:40px 20px;background-image:url(../images/deptos/top-depto.png);background-repeat:no-repeat;font-size:20px;max-width:100%;height:127px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.info-deptos .planta-iframe .top-depto p{color:#fff}
.info-deptos .planta-iframe .top-depto .btn-cerrar{padding:20px;font-size:2em;top:-20px;position:relative;color:#fff;text-decoration:none}
.info-deptos .planta-iframe .top-depto .btn-cerrar:hover{opacity:.5}
.info-deptos .planta-iframe .formulario-deptos{font-size:.9em}
.info-deptos .planta-iframe .formulario-deptos p{margin-bottom:0}
.info-deptos .planta-iframe .formulario-deptos .separacion{margin-top:20px}
.info-deptos .planta-iframe .formulario-deptos .info{font-size:12px}
@media (min-width:992px) and (max-width:1199px){.navbar{background-color:#000;transition:.4s all;width:100%;margin:auto;margin-top:0;max-width:1540px}
.navbar .container-menu{width:96%!important;margin:0 auto}
.navbar .navbar-brand{padding-top:10px;padding-bottom:10px}
.navbar .navbar-brand .imagen-logotipo{width:110px;transition:.4s all}
.navbar .navbar-nav li a{font-size:1em;padding:10px 20px;border-right:1px solid transparent;border-left:1px solid #383838}
.navbar .navbar-nav .boton-cotizar{margin-right:10px;background-color:#6d000f}
.navbar .navbar-nav .boton-cotizar a{padding-right:10px;margin-right:0;border-left:0 solid #6d000f}
.menu-fixed .navbar{background-color:#000;width:100%;max-width:100%;margin:0 auto}
.menu-fixed .navbar .navbar-brand{padding-top:10px;padding-bottom:10px}
.menu-fixed .navbar .navbar-brand .imagen-logotipo{width:110px}
.menu-fixed .navbar .navbar-nav li a{font-size:1em;padding:10px 20px}
.menu-fixed .navbar .navbar-nav .boton-cotizar{margin-right:10px;background-color:#6d000f}
.menu-fixed .navbar .navbar-nav .boton-cotizar a{padding-right:10px;margin-right:0;border-left:0 solid #6d000f}
}
@media (min-width:768px) and (max-width:991px){.navbar{background-color:#000;transition:.4s all;width:100%;margin:auto;margin-top:0;max-width:1540px}
.navbar .container-menu{width:96%!important;margin:0 auto}
.navbar .navbar-brand{padding-top:10px;padding-bottom:10px}
.navbar .navbar-brand .imagen-logotipo{width:110px;transition:.4s all}
.navbar .navbar-nav li a{font-size:.85em;padding:10px;border-right:1px solid transparent;border-left:1px solid #383838}
.navbar .navbar-nav .boton-cotizar{margin-right:10px;background-color:#6d000f}
.navbar .navbar-nav .boton-cotizar a{padding-right:10px;margin-right:0;border-left:0 solid #6d000f}
.menu-fixed .navbar{background-color:#000;width:100%;max-width:100%;margin:0 auto}
.menu-fixed .navbar .navbar-brand{padding-top:10px;padding-bottom:10px}
.menu-fixed .navbar .navbar-brand .imagen-logotipo{width:110px}
.menu-fixed .navbar .navbar-nav li a{font-size:.85em;padding:10px}
.menu-fixed .navbar .navbar-nav .boton-cotizar{margin-right:10px;background-color:#6d000f}
.menu-fixed .navbar .navbar-nav .boton-cotizar a{padding-right:10px;margin-right:0;border-left:0 solid #6d000f}
}
@media (max-width:767px){
.modal-dialog .modal-header .close{font-family:'Mukta Mahee',sans-serif;font-weight:300;position:relative;color:#fff;line-height:0!important;font-size:2.5em;opacity:.7;float:right;margin-top:0;padding:isnherit;}
.container{max-width:440px;width:100%}
.navbar{width:100%;margin-top:0}
.navbar .container-menu{width:96%!important;margin:0 auto}
.navbar .navbar-brand{padding-top:6px;padding-bottom:6px}
.navbar .navbar-brand .imagen-logotipo{width:120px;transition:.4s all}
.navbar .navbar-nav{padding:10px 0}
.navbar .navbar-nav li a{text-align:center;font-size:1em;letter-spacing:.6px;padding:10px 30px;border-right:0 solid transparent;border-left:0 solid transparent}
.menu-fixed .navbar{width:100%;margin-top:0}
.menu-fixed .navbar .container-menu{width:96%!important;margin:0 auto}
.menu-fixed .navbar .navbar-brand{padding-top:6px;padding-bottom:6px}
.menu-fixed .navbar .navbar-brand .imagen-logotipo{width:120px;transition:.4s all}
.menu-fixed .navbar .navbar-nav{padding:10px 0}
.menu-fixed .navbar .navbar-nav li a{border-right:0 solid transparent;border-left:0 solid transparent}
.carousel-caption{right:10%;left:10%;width:80%;padding-bottom:30px}
.carousel-caption .info-carrusel{background-color:rgba(0,0,0,.8);width:100%;float:right;text-align:left;padding:20px;margin-bottom:20px}
.carousel-caption hr{height:4px;width:100px;background-color:#bc0c24;margin:10px 0;border:0;border-top:1px solid rgba(0,0,0,.1)}
.escribenos {margin-top: 0px;}
.proyecto .info-destacada{margin-top:5px;display:inline-block;padding:10px 20px;color:#fff;background-color:#bc0c24}
.proyecto .info-destacada .icono{margin-left:6px;margin-right:6px}
.proyecto .info-destacada p{font-size:.8em;margin-top:0;margin-bottom:0}
.proyecto .box-boton{margin-top:20px;margin-bottom:30px}
.proyecto .box-boton .row .col-xs-12{text-align:center;margin-top:10px;margin-bottom:10px}
.box-depto .data-depto{font-size:.8em;margin:4px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.box-depto .data-depto img{max-width:50px}
.box-depto .data-depto span{color:#ccc}
.box-depto .data-depto .icono-depto,.box-depto .data-depto .linea-depto{height:28px}
.promociones{display:none}
.ubicacion{background-color:#F6F6F6;overflow:hidden;padding-bottom:0!important}
.ubicacion .botonera-maps{position:relative;top:-30px}
.ubicacion .botonera-maps .col-xs-12{margin-bottom:20px}
footer{margin:0;background-color:#F1F1F1!important;padding:40px 0;text-align:center}
footer .mirador-image-rds{margin:0 auto 30px;max-width:none;width:60%}
footer .col-xs-12 p{font-size:.8em}
.modal-dialog{padding-right:0!important;max-width:400px;margin:0 auto}
.modal-dialog .info-deptos .planta-iframe{width:90%}
.info-deptos .planta-iframe .top-depto{height:120px}
.col-movil-11{width:85%}
.col-movil-1{width:9%}
.btn-cerrar-a,.btn-cerrar-b,.btn-cerrar-c,.btn-cerrar-d,.btn-cerrar-d2,.btn-cerrar-e{position:relative;right:20px;color:#fff;padding:10px 20px}
.btn-cerrar-a:hover,.btn-cerrar-b:hover,.btn-cerrar-c:hover,.btn-cerrar-d2:hover,.btn-cerrar-d:hover,.btn-cerrar-e:hover{text-decoration:none}
.image-esquicio{display:none}
.info-deptos .box{border:0 solid #ccc}
.info-deptos .planta-iframe{background-color:#fff!important;width:100%!important;top:224px;left:0;height:100%}
.info-deptos .planta-iframe .botonera-planta{padding-left:20px;padding-right:20px}
}
@media (max-width:634px){.with-nav-tabs li a{padding:10px 2px!important}
.col-movil-11{width:85%}
.col-movil-1{width:9%}
}
@media (max-width:480px){.col-movil-11{width:85%}
.col-movil-1{width:9%}
}
.jssocials-shares{margin:0;}
.jssocials-share{display:inline-block;vertical-align:top;margin:0 5px 0 0;}
.jssocials-share-link{border-radius:3px;}
.jssocials-share-whatsapp .jssocials-share-link{display:none;}
.jssocials-share-whatsapp .jssocials-share-link,
.jssocials-share-facebook .jssocials-share-link,
.jssocials-share-twitter .jssocials-share-link {background:#5A5A5A;}
.jssocials-share-whatsapp .jssocials-share-link:hover,
.jssocials-share-facebook .jssocials-share-link:hover,
.jssocials-share-twitter .jssocials-share-link:hover{background:#bc0c24;}
@media (max-width:767px){.jssocials-share-whatsapp .jssocials-share-link{display:block;} }
.modal_abierto{ overflow: hidden !important; }
.modal_cerrado{ overflow-y: visible !important; }