.pri{
	animation-delay:0.2s;
}
.seg{
	animation-delay:0.6s;
}
.ter{
	animation-delay:1s;
}
.cua{
	animation-delay:1.2s;
}
.qui{
	animation-delay:1.6s;
}
.sex{
	animation-delay:2s;
}
.sep{
	animation-delay:2.4s;
}