
@import "mirador.less";
//@import "libertad.less";




@import "delay.less";
html{
    height: 100%;
}
body{
	overflow:scroll;
		padding-right: 0px!important;

	//border: 1px solid red;
	font-family: 'Mukta Mahee', sans-serif;
	font-weight: 300;
	color: #737373;
	font-size: 16px;
	color: #737373;
	 height: 100%;
}
header{
	margin-bottom: 3em;
}
nav{
	text-transform: uppercase;
}
button:focus{
	outline:0px!important;
}
li{
	list-style-type: square!important;
}
a:focus{
	outline:0px;
}

.strong{
	font-weight: bold;
	font-size: 1.2em;
}

article{
	padding-top: 3.5em;
	padding-bottom: 2.5em;

	.titulo{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 2em;
		line-height: 0.9em;
	}
	.subtitulo{
		margin: 0px;
		font-size: 1.2em;
		font-weight: 400;
		line-height: 1.4em;
	}
	hr{
		height: 3px;
		width: 100px;
		background-color: @pri;
		border: 0;
		/*hr de los titulos de todos los article*/
	}
	.linea{

		margin: 0px;
		margin-top: 10px!important;
		margin-bottom: 10px!important;
		height: 3px;
	    width: 60px;
	    background-color: #000000;
	    border: 0;
	    text-align: left!important;
	}

}
p{
	margin-top: 0;
    margin-bottom: 1rem;
}
a{
	color: @pri;
	transition: 0.4s all;
}
a:hover{
	color: @seg;	
}




//preload
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #000;
    z-index: 1000000000000000;
}
#loader {
    width: 200px;
    height: 100px;
    position: absolute;
    left:50%; top:50%;
    background: url("../images/loader.png") no-repeat center 0;
    margin:-50px 0 0 -100px;
}



//generales 
.container {
  	max-width: 1140px;
  	width: 100%;
}
.image-responsive{
	width: 100%;
}
.sinpa{
	padding-left: 0px;
	padding-right: 0px;
}


//menu
.navbar{
	background-color: #000000;
	transition: 0.4s all;
	width: 96%;
	margin: auto;
	margin-top: 30px;
	max-width: 1540px;
	.container-menu{
		width: 96%!important;
		margin: 0 auto; 
	}
	.navbar-brand{
		padding-top: 10px;
	    padding-bottom: 10px;
	    .imagen-logotipo{
			width: 180px;
			transition: 0.4s all;
		}
	}
	.navbar-nav{
		padding: 10px 0px; 
		li{
			a{
				font-weight: bold;
				font-size: 1em;
				letter-spacing: 0.6px;
			    padding-top: 18px;
			    padding-bottom: 18px;
			    padding-left: 30px;
			    padding-right: 30px;

			    border-right: 1px solid transparent; 
			    border-left: 1px solid #383838; 
			}
		}
		.boton-cotizar{
			background-color: @seg;
			a{
				color: #efefef!important;
				 padding-right: 30px;
				 border-left:0px solid @seg; 
			}

		}
	}
}

//cambio scroll
.menu-fixed{
	.navbar{
		width: 100%;
			max-width: 100%;

		margin: 0 auto;
		.navbar-brand{
			padding-top: 6px;
		    padding-bottom: 6px;
		    .imagen-logotipo{
				width: 145px;
			}
		}
		.navbar-nav{
			padding: 10px 0px; 
			li{
				a{
					font-size: 1em;
					letter-spacing: 0.6px;
				    padding-top: 10px;
				    padding-bottom: 10px;
				    padding-left: 30px;
				    border-left:1px solid #383838; 
				}
			}
		}
	}
}



//botones
.btn{
	transition: 0.3s all;
	text-transform: uppercase;
	padding: 10px 30px; 
	border-radius: 3px;

}
.btn-pri{
	background-color: #000000;
	border: 1px solid #000000;
	color: #ffffff;
	&:hover,
	&:focus,
	&:active{
		background-color: @seg;
		border: 1px solid @seg;
		color: #ffffff;
	}
}
.btn-seg{
	background-color: #ffffff;
	border: 1px solid @pri;
	color: @pri;
	&:hover,
	&:focus,
	&:active{
		background-color: @pri;
		border: 1px solid @pri;
		color: #ffffff;
	}
}
.btn-ter{
	background-color: #5A5A5A;
	border: 1px solid #5A5A5A;
	color: #ffffff;
	&:hover,
	&:focus,
	&:active{
		background-color: @pri;
		border: 1px solid @pri;
		color: #ffffff;
	}
}
.btn-cua{
	background-color: #ffffff;
	border: 1px solid @btn;
	color: @btn;
	&:hover,
	&:focus,
	&:active{
		background-color: @btn;
		border: 1px solid @btn;
		color: #ffffff;
	}
}
.btn-360:focus,
.btn-360:hover,
.btn-360:active,
.btn-360{
	background-image: url('../images/boton-360.png');
	background-color: #ffffff!important;
	padding: 20px 40px;
	background-position: 100%; 
	font-weight: bold;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.btn-360:hover{

}

.btn-small{
	font-size: 14px!important;
    padding: 4px 12px!important;	
}

.btn-cerrar-a,
.btn-cerrar-b,
.btn-cerrar-c,
.btn-cerrar-d,
.btn-cerrar-d2,  
.btn-cerrar-e{
	font-size: 20px;
	color: #ffffff;
    padding: 10px 20px;
	&:hover{
		text-decoration: none;
	}
}




//slide 
.carousel-caption{
	right: 10%;
    left: 10%;
    width: 80%;
    padding-bottom: 30px;
	.info-carrusel{
		background-color: rgba(0, 0, 0, 0.8);
	    width: 50%;
	    float: right;
	    text-align: left;
	    padding: 20px;
	    margin-bottom: 20px;
	}
	hr {
	    height: 4px;
	    width: 100px;
	    background-color: @pri;
	    margin: 10px 0px;
	    border: 0;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
    	/*hr del slider del home*/
	}
	.parrafo{
		font-size: 1.1em;
	}
}
.carousel {
    height: 93%;
}
.item,
.active,
.carousel-inner {
    height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}




	.carousel-indicators{
		bottom: -43px;
		li{
			margin: 0px 10px;
			background-color: @txt;
			width: 10px;
			height: 10px;
		}
		.active{
			margin: 0px 10px;
			background-color: @pri;
			width: 10px;
			height: 10px;
		}
	}




//departamentos
.depto{
	background-color: #FBFBFB;
	border: 1px solid #cccccc;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 30px;
	.estado-proyecto{
		position: relative;
		left: 10px;
		top: 10px;
		display: inline-block;
		background-color: green;
		color: #ffffff;
		padding: 4px 10px;
		border-radius: 4px;
		z-index: 2;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
.box-depto{
	padding: 10px 20px;
	.titulo-depto{
		.titulo{
			font-size: 1.2em;
			font-weight: 400;
			padding: 0px;
			margin: 0px;
		}
		.hr-title{
			height: 2px;
			width: 100px;
			background-color: #000000;
			margin: 10px 0px;
		}
	}
	.data-depto{
		margin: 4px 0px;
		border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
		//background-color: olive;
		img{
			max-width: 	50px;
		}
		span{
			color: #cccccc;
		}
		.icono-depto{
			height: 40px;
		}
		.linea-depto{
			height: 40px;
		}

	}
	.info-box{
		margin: 10px 0px;
		ul{
			padding-left: 20px;
			li{
				margin-top: 4px;
				font-size: 0.9em;
			}
		}
		p{
			font-size: 0.8em;
		}
	}
	.btn-depto{
		border-top: 1px solid #cccccc;
		margin: 10px 0px 0px 0px;
		padding-top: 10px;
		p{
			margin-top: 10px; 
			font-size: 26px;
			font-weight: 300;
		}
		span{
			font-size: 13px;
		}
	}
}



//hover-imagenes
.grid {
    position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
   	display: inline-block;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    //margin: 10px 1%;
    width: 100%;
    text-align: center;
    cursor: auto ;
}

.grid figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
}

.grid figure figcaption {
    //padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 1;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
    -webkit-transition: opacity 0.35s, 
    -webkit-transform 0.35s;
    transition: opacity 0.35s, 
    transform 0.35s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

figure.effect-chico:hover img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-chico figcaption {
    padding: 3em;
}

figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
    padding: 20% 0 20px 0;
}

figure.effect-chico p {
    margin: 0 auto;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}


//proyecto
.proyecto{
	.info{
		.icono{
			height: 20px;
			margin: 0px 10px 0px 0px;
		}
	}
	.info-destacada{
		margin-top: 5px;
		display: inline-block;
		padding: 10px 20px; 
		color: #ffffff;
		background-color: @pri;
		.icono{
			margin-left: 6px;
			margin-right: 6px;
		}
		p{
			font-size: 0.8em;
			margin-top: 0;
    		margin-bottom: 0;
		}
	}
	.box-boton{
		margin-top: 8px; 
	}
}



.panel-heading{
	padding: 0px;
}
//tabs
.with-nav-tabs{
	border-radius: 0px; 
	.nav-tabs{
		border-bottom: 0px;
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		li{
			width: 25%;
			text-align: center;
			border: 0px!important solid transparent;
			a{
				text-transform: uppercase;
				color: @txt;
				font-size: 0.9em;
				border-radius: 0px;
				border: 0px solid olive!important;
			}
			&:focus{
				border: 0px solid olive!important;
			}
		}
	}

	.nav-tabs>li.active>a, {
		background-color: @pri;
		color: #ffffff;
	}
	.nav-tabs>li.active>a, 
	.nav-tabs>li.active>a:focus, 
	.nav-tabs>li.active>a:hover{
		border: 0px solid transparent!important;
	}
}



//departamento
.departamento{
	background-color: #F6F6F6;
	.lista-deptos{
		margin-bottom: 2em;
		.lista-departamentos{
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
	}
}


//galeria
.galeria{
	background-color: #F6F6F6;
	overflow: hidden;
	.well{
	    min-height: 20px;
	    padding: 0px;
	    margin-bottom: 0px;
	    background-color: #f5f5f5;
	    border: 1px solid #e3e3e3;
	    border-radius: 0px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		div{
			padding-right: 0px;
			padding-left: 0px;
		}
	}
	.panel{
		border: 0px;
		margin-bottom: 0px;
		background-color: transparent;
	}
	.panel-body{
		padding: 0px!important;
		.tab-pane{
		}
		.carousel-indicators{
			bottom: -43px;
			li{
				margin: 0px 10px;
				background-color: @txt;
			}
			.active{
				background-color: @pri;
				width: 10px;
    			height: 10px;
			}
		}
	}
	

			.info-item-galery{
				font-size: 0.9em;
				position: absolute!important;
				background-color: #000000!important;
				bottom: 0px;
				padding: 10px 20px;
				color: #ffffff;
			}


	#slider{	
		background-image: url('../images/frase/back-01.png');
		background-color: #424242;
	}
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .icon-prev{
		left: 0px;
	}
	.carousel-control .glyphicon-chevron-right, 
	.carousel-control .icon-prev{
		right: 0px;
	}
	.btn-carousel-galeria{
		opacity: 1;
		background-color: @pri;
		padding: 10px; 
		font-size: 10px;
		width: 30px;
		height: 30px;
	}
}

//emplazamiento
.emplazamiento{
	.lista{
		line-height: 30px;
		padding-left: 20px;
	}
	.lista-num-dot{
		margin-top: 2em;
		p{
			margin-right: 20px;
			display: inline-block;			
		    .dotnum {
		      background-color: @pri;
		      border-radius: 50%;
		      -moz-border-radius: 50%;
		      -webkit-border-radius: 50%;
		      color: #fff;
		      display: inline-block;
		      font-weight: bold;
		      line-height: 1.4em;
		      margin-right: 15px;
		      text-align: center;
		      width: 1.4em; 
		    }


		}


	}


	.container-image {
		margin: 0 auto;
    	width: 100%;
    	max-width: 730px;
    	height: 400px;
        position: relative;
    	background-image: url('../images/emplazamiento/img-emplazamiento.png');
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-color: red;
    }
    .hot-spot {
   		text-align: center;
      	color: #ffffff!important;

      width: 20px;
      height: 20px;
      background-color: @pri;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 1;
    }
    .hot-spot:after {
    	text-align: center;
      	content: "";
      	color: #ffffff!important;
      	position: absolute;
      	top: 50%;
      	left: 50%;
      	-webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      	border: 2px solid @pri;
      	width: 20px;
      	height: 20px;
      	border-radius: 50%;
      	opacity: 0;
      	-webkit-transition: 0.2s all;
      	transition: 0.2s all;
    }
    .hot-spot:hover {
      	cursor: pointer;
      	opacity: 1;
    }
    .hot-spot:hover:after {
      	width: 25px;
      	height: 25px;
      	opacity: 1;
    }

    //set hotspot
    .hot-spot-1{
   		top: 259px;
    	left: 124px;
    }
    .hot-spot-2{
    	top: 271px;
    	left: 169px;
    }
    .hot-spot-3{
    	top: 159px;
    	left: 183px;
    }
    .hot-spot-4{
		top: 195px;
    	left: 611px;
    }
    .hot-spot-5{
    	top: 156px;
    	left: 611px;
    }
    .hot-spot-6{
    	top: 150px;
    	left: 500px;
    }
    .hot-spot-7{
		top: 167px;
    	left: 392px;
    }
    .hot-spot-8{
    	top: 131px;
    	left: 305px;
    }
    .hot-spot-9{
		top: 293px;
    	left: 384px;
    }
    .hot-spot-9b{
		top: 286px;
    	left: 545px;
    }
    .hot-spot-10{
    	top: 332px;
    	left: 451px;
    }







}

//frase
.frase{
	background-image: url('../images/frase/back-frase.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	.titulo-icono{
		margin:  30px 0px;
		color: #ffffff;
	}
	.subtitulo{
		font-weight: 300;
		margin-bottom: 20px;
	}

	.icon-emplazamiento{
		width: 80px;
		height: auto;
		margin-bottom: 20px;
		transition: 0.4s all;
		background-color: @pri;
		border: 0px solid #ffffff;
  		border-radius: 50%;
  		border: 0px solid @pri;

		&:hover {
				background-color: @pri;
				border: 10px solid @pri;
				border-radius: 50%;
		}
	}
	p{
		color: #ffffff;	
	}
}

//ubicacion
.ubicacion{
	background-color: #F6F6F6;
	overflow: hidden;

	padding-bottom: 0em!important;

	.mapa-proyecto{
		#map{
			width:100%;
			height:400px!important;
		}


	}

	.botonera-maps{ 
		//background-color: #ffffff;
		position: relative;
		top: -30px;

	}
}


//promociones
.promociones{
	background-image: url('../images/frase/back-02.png');
	background-color: #424242;

	.home-demo{
		.item{
			padding: 20px;
			text-align: center;
			img{
				width: 	80%;
			}
			.item-contenedor{
				margin-top: 10px;
				.linea{
					margin:0 auto; 
				}
			}
			.item-titulo{
				font-size: 1.3em;
			}
			.item-parrafo{
				font-size: 1em;
			}
		}
	}
}




//rrss
.rrss{
	display: none;
	.rrss-icon {
	    max-width: 50px;
	    margin: 0px 20px;
	}
}





//footer
footer{
	margin: 0px 0;
	background-color: #F1F1F1!important;
	padding: 40px 0px; 
	.mirador-image-rds{
		max-width: 230px;
		width: 100%;
	}
	.ingevec-image-rds{
		max-width: 200px;
		width: 100%;
	}
	.cbs-image-rds{
		max-width: 180px;
		width: 100%;
	}
	.icon-venta{
		img{
			width: 18px;
			height: auto;
			opacity: 0.8;
		}
		.horario{
			margin-top: 18px; 
			background-color: @pri;
			padding: 8px 20px; 
			a{
				color: #ffffff;
			}
		}
		a{
			color: @txt;
		}
	}
	.data-info{
		font-size: 0.7em;
	}
}





//modales
.modal-open{
	padding-right: 0px!important;
}

.modal{
	//background-color: olive;
	overflow: hidden!important;
}
.modal-dialog{
	width: 100%;
	max-width: 900px;
	.modal-header{
		background-color: #000000;
		color: #FFFFFF;
		.subtitulo{
			font-size: 20px;
		}
		hr{
			height: 2px;
			width: 100px;
			background-color: #FFFFFF;
			margin: 10px 0px;
		}
		.logotipo-modal{
			height: 50px;
		}
		.close{
		    font-family: 'Mukta Mahee',sans-serif;
		    font-weight: 300;
		    position: relative;
		    color: #fff;
		    line-height: 0!important;
		    font-size: 4em;
		    opacity: 0.7;
		    float: right;
		    margin-top: 0px;
			padding: 28px 0px 0px 0px;
		    //padding: 10px 20px; 
		}
	}
	.modal-body{
		border: 1px solid #cccccc;
		.imagen-planta{
			background-color: #ffffff;
			height: auto;
			border-radius: 0px!important;
			img{
			}
			.botonera-planta{
				border-top: 1px solid #cccccc; 
				padding: 10px;
				.icon-btn-deptos{
					height: 16px;
					margin: 0px 6px 0px 0px;
				}
				.formulario-deptos{
					font-size: 0.9em;
					p{
						margin-bottom: 0px;
					}
					.separacion{
						margin-top:20px;
					}
					.info{
						font-size: 12px;
					}
					textarea{

					}
				}
			}
		}

.form-depto {
    height: 80%;
    width: 0;
    padding-right: 16px;
    position: fixed;
    z-index: 1;
    top: 98px;
    right: 2px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 0px;
     a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #ffffff;
	    display: block;
	}
	.closebtn {
	    position: absolute;
	    top: 20px;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
}

#planta-depto {
    transition: margin-left 0s;
}
		.data-depto{
			font-size: 0.9em;
			margin: 4px 0px;
			border-top:1px solid #cccccc;
			border-bottom:1px solid #cccccc;
			img{
				max-width: 	50px;
			}
			span{
				color: #cccccc;
			}
			.icono-depto{
				height: 40px;
			}
			.linea-depto{
				height: 40px;
			}
		}
		.info-box{
			margin: 10px 0px;
			ul{
				padding-left: 20px;
				li{
					margin-top: 4px;
					font-size: 0.8em;
				}
				.image-esquicio{
					max-width: 220px;
					margin: 0; 
				}
			}
			p{
				font-size: 0.8em;
			}
			.table-data-deptos{
				display: none;
				margin: 20px 0px;
				width: 100%;
				font-size: 0.9em;

				text-transform: uppercase;
				tr{
					//border-bottom: 1px solid #cccccc;
					hr{
						margin: 0px;
						padding: 0px; 
					}
				}
				/*td{
					border-bottom: 1px solid #cccccc;
				}*/
			}
			.box-title{
				.titulo{
					text-transform: uppercase;
					font-size: 0.8em;
				    font-weight: 400;
				    padding: 0px;
				    margin: 0px;
				}
				.linea{
				    margin: 0px;
				    margin-top: 10px!important;
				    margin-bottom: 10px!important;
				    height: 3px;
				    width: 60px;
				    background-color: #000000;
				    border: 0;
				    text-align: left!important;
				}

			}
		}
	}
}



//nuevos
.info-deptos{
	.box{
		border: 1px solid #cccccc;
		.botonera-planta{
			border-top: 1px solid #cccccc; 
			padding: 10px 10px 20px 10px;
		}
		.legal{
			text-align: justify;
			padding: 10px 10px 2px 10px;
			margin-top: 20px;
			font-size: 0.6em;
		}
	}
	.planta-iframe{
		width: 63%;
		position: fixed;
	    top: 97px;
	    display: none;
	    z-index: 2;
	    background: #ffffff;
	    margin-right: 16px;
	    .top-depto{
	    	padding: 40px 20px; 
			background-image: url("../images/deptos/top-depto.png");
			background-repeat: no-repeat;
			font-size: 20px;
			max-width: 100%;
			height: 127px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
    		p{
				color: #ffffff;
			}
			.btn-cerrar{
			    padding: 20px;
			    font-size: 2em;
			    top: -20px;
			    position: relative;
			    color: #ffffff;
			    text-decoration: none;
				&:hover{
					opacity: 0.5;
				}
			}
		}

		
	    	.formulario-deptos{
				font-size: 0.9em;
				p{
					margin-bottom: 0px;
				}
				.separacion{
					margin-top:20px;
				}
				.info{
					font-size: 12px;
				}
				textarea{

				}
			}


	}
}




















@import "responsive.less";
