//responsive
/* Large desktops and laptops */
@media (min-width: 1200px) {
	body{
		//background-color: red;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		//background-color: yellow;
	}
	//menu
	.navbar{
		background-color: #000000;
		transition: 0.4s all;
		width: 100%;
		margin: auto;
		margin-top: 0px;
		max-width: 1540px;
		.container-menu{
			width: 96%!important;
			margin: 0 auto; 
		}
		.navbar-brand{
			padding-top: 10px;
		    padding-bottom: 10px;
		    .imagen-logotipo{
				width: 110px;
				transition: 0.4s all;
			}
		}
		.navbar-nav{
			li{
				a{
					font-size: 1em;
				    padding-top: 10px;
				    padding-bottom: 10px;
				    padding-left: 20px;
				    padding-right: 20px;
				    border-right: 1px solid transparent; 
				    border-left: 1px solid #383838; 
				}
			}
			.boton-cotizar{
				margin-right: 10px; 
				background-color: @seg;
				a{
					 padding-right: 10px;
					 margin-right: 0px; 
					 border-left:0px solid @seg; 
				}
			}
		}
	}
	//cambio scroll
	.menu-fixed{
		.navbar{
			background-color: #000000;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			.navbar-brand{
				padding-top: 10px;
			    padding-bottom: 10px;
			    .imagen-logotipo{
					width: 110px;
				}
			}
			.navbar-nav{
				li{
					a{
						font-size: 1em;
					    padding-top: 10px;
					    padding-bottom: 10px;
					    padding-left: 20px;
					    padding-right: 20px;
					}
				}
				.boton-cotizar{
					margin-right: 10px; 
					background-color: @seg;
					a{
						 padding-right: 10px;
						 margin-right: 0px; 
						 border-left:0px solid @seg; 
					}
				}
			}
		}
	}
}	
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	body{
		//background-color: green;
	}
	//menu
	.navbar{
		background-color: #000000;
		transition: 0.4s all;
		width: 100%;
		margin: auto;
		margin-top: 0px;
		max-width: 1540px;
		.container-menu{
			width: 96%!important;
			margin: 0 auto; 
		}
		.navbar-brand{
			padding-top: 10px;
		    padding-bottom: 10px;
		    .imagen-logotipo{
				width: 110px;
				transition: 0.4s all;
			}
		}
		.navbar-nav{
			li{
				a{
					font-size: 0.85em;
				    padding-top: 10px;
				    padding-bottom: 10px;
				    padding-left: 10px;
				    padding-right: 10px;
				    border-right: 1px solid transparent; 
				    border-left: 1px solid #383838; 
				}
			}
			.boton-cotizar{
				margin-right: 10px; 
				background-color: @seg;
				a{
					 padding-right: 10px;
					 margin-right: 0px; 
					 border-left:0px solid @seg; 
				}

			}
		}
	}
	//cambio scroll
	.menu-fixed{
		.navbar{
			background-color: #000000;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
			.navbar-brand{
				padding-top: 10px;
			    padding-bottom: 10px;
			    .imagen-logotipo{
					width: 110px;
				}
			}
			.navbar-nav{
				li{
					a{
						font-size: 0.85em;
					    padding-top: 10px;
					    padding-bottom: 10px;
					    padding-left: 10px;
					    padding-right: 10px;
					}
				}
				.boton-cotizar{
					margin-right: 10px; 
					background-color: @seg;
					a{
						 padding-right: 10px;
						 margin-right: 0px; 
						 border-left:0px solid @seg; 
					}
				}
			}
		}
	}
}	

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body{
		//background-color: peru;
	}
	//container-arreglo
	.container {
	    max-width: 440px;
	    width: 100%;
	}
	//menu
	.navbar{
		width: 100%;
		margin-top: 0px;
		.container-menu{
			width: 96%!important;
			margin: 0 auto; 
		}
		.navbar-brand{
			padding-top: 6px;
		    padding-bottom: 6px;
		    .imagen-logotipo{
				width: 120px;
				transition: 0.4s all;
			}
		}
		.navbar-nav{
			padding: 10px 0px; 
			li{
				a{
					text-align: center;
					font-size: 1em;
					letter-spacing: 0.6px;
				    padding-top: 10px;
				    padding-bottom: 10px;
				    padding-left: 30px;
				    padding-right: 30px;

				    border-right: 0px solid transparent; 
				    border-left: 0px solid transparent; 
				}
			}
		}
	}
	//cambio scroll
	.menu-fixed{
		.navbar{
			width: 100%;
			margin-top: 0px;
			.container-menu{
				width: 96%!important;
				margin: 0 auto; 
			}
			.navbar-brand{
				padding-top: 6px;
			    padding-bottom: 6px;
			    .imagen-logotipo{
					width: 120px;
					transition: 0.4s all;
				}
			}
			.navbar-nav{
				padding: 10px 0px; 
				li{
					a{
					    border-right: 0px solid transparent; 
					    border-left: 0px solid transparent; 
					}
				}
			}
		}
	}
	//slide 
	.carousel-caption{
		right: 10%;
	    left: 10%;
	    width: 80%;
	    padding-bottom: 30px;
		.info-carrusel{
			background-color: rgba(0, 0, 0, 0.8);
		    width: 100%;
		    float: right;
		    text-align: left;
		    padding: 20px;
		    margin-bottom: 20px;
		}
		hr {
		    height: 4px;
		    width: 100px;
		    background-color: @pri;
		    margin: 10px 0px;
		    border: 0;
	    	border-top: 1px solid rgba(0, 0, 0, 0.1);
	    	/*hr del slider del home*/
		}
	}
	//proyecto
	.proyecto{
		.info-destacada{
			margin-top: 5px;
			display: inline-block;
			padding: 10px 20px; 
			color: #ffffff;
			background-color: @pri;
			.icono{
				margin-left: 6px;
				margin-right: 6px;
			}
			p{
				font-size: 0.8em;
				margin-top: 0;
	    		margin-bottom: 0;
			}
		}
		.box-boton{
			margin-top: 20px; 
			margin-bottom: 30px; 
			.row{
				.col-xs-12{
					text-align: center;
					margin-top: 10px; 
					margin-bottom: 10px; 
				}
			}
		}
	}
	//departamentos
	.box-depto{
		.data-depto{
			font-size: 0.8em;
			margin: 4px 0px;
			border-top:1px solid #cccccc;
			border-bottom:1px solid #cccccc;
			img{
				max-width: 	50px;
			}
			span{
				color: #cccccc;
			}
			.icono-depto{
				height: 28px;
			}
			.linea-depto{
				height: 28px;
			}

		}
	}
	//promociones
	.promociones{
		display: none;
	}	
	//ubicacion
	.ubicacion{
		background-color: #F6F6F6;
		overflow: hidden;
		padding-bottom: 0em!important;
		.botonera-maps{
			position: relative;
			top: -30px;
			.col-xs-12{
				margin-bottom: 20px;
			}
		}
	}
	//footer
	footer{
		margin: 0px 0;
		background-color: #F1F1F1!important;
		padding: 40px 0px; 
		text-align: center; 
		.mirador-image-rds{
			margin: 0 auto; 
			max-width: none;
			width: 60%;
			margin-bottom: 30px;
		}
		.col-xs-12{
			p{
				font-size: 0.8em;
			}
		}
	}

	.modal-dialog{
		padding-right: 0px!important;
		margin: 0px;
		max-width: 400px;
		margin: 0 auto;

		.info-deptos .planta-iframe{
			width: 90%;
			//height: 100%;
		}
	}
	.info-deptos .planta-iframe .top-depto{
		height: 120px;	
	}

	//columanas movil
	.col-movil-11{
		width: 85%;
	}
	.col-movil-1{
		width: 9%;	
	}

	.btn-cerrar-a,
	.btn-cerrar-b,
	.btn-cerrar-c,
	.btn-cerrar-d,
	.btn-cerrar-d2,
	.btn-cerrar-e{
		position: relative;
		right: 20px;
		color: #ffffff;
	    padding: 10px 20px;
		&:hover{
			text-decoration: none;
		}
	}
	.image-esquicio{
		display: none;
	}


	.info-deptos{
		.box{
			border: 0px solid #cccccc;
		}
		.planta-iframe{
			background-color: white!important;
	    	width: 100%!important;
			top: 224px;
			left: 0;
			height: 100%;
			.botonera-planta{
				padding-left: 20px;
				padding-right: 20px; 		
			}


			/*
			width: 63%;
			position: fixed;
		    top: 97px;
		    display: none;
		    z-index: 2;
		    background: #ffffff;
		    margin-right: 16px;
		    */
		}
	}
	

}

@media (max-width: 634px) {
	body{
		//background-color: orange;
	}
	//galeria - tabs
	.with-nav-tabs{
		li{
			a{
				padding: 10px 2px!important; 
			}
		}
	}
	//columanas movil
	.col-movil-11{
		width: 85%;
	}
	.col-movil-1{
		width: 9%;	
	}
}	
/* Landscape phones and smaller */
@media (max-width: 480px) {
	body{
		//background-color: blue;
	}
	//columanas movil
	.col-movil-11{
		width: 85%;
	}
	.col-movil-1{
		width: 9%;	
	}



}



